# I'm using my terraform-homelab-k8s repo to setup my k8s cluster for dev and this is where the kubeconfig is for that cluster
export KUBECONFIG=$HOME/projects/personal/terraform-homelab-k8s/foo-tf-config